/* Global styles*************** */

body {
    background-color: blanchedalmond;
    justify-content: center;
    Padding: 1em;
}

.container {
    display: grid;
    width: 96vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 5fr 3fr;
    grid-gap: 1em
}

.section {
    display: flex;
    flex-direction: column;
    /* border: .4em solid blue; */
    background-color: cornflowerblue;
    grid-column: 1 / 6;
}

.header {
    grid-column: 2 / 5;
    background-color: blanchedalmond;
    text-align: center;
    align-items: center;
    border-bottom: double .2em blue
}

.hLine1 {
    margin: .4em 0 0 0;
    font-size: 2em;
}

.hLine2 {
    margin: 0 0 1em 0;
}

.features {
    grid-column: 2 / 5;
    background-color: blanchedalmond;
    
}

#fTitle {
    align-self: center;
    margin: 1em
}

.pix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#learnMore {
    align-self: center;
    margin: 1em 
}

.quoteSpace {
    grid-column: 1 / 6;
    justify-content: center;
    align-items: center;
}

#quote {
    margin: 2em 0 2em 0;
    border-left: double;
    border-right: double;
    border-radius: 5%;
    padding: 0 2em 0 2em;
    font-size: 2em;
}

"quoteText"