/* Global styles*************** */

body {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 5fr 3fr;
    grid-gap: 1em
}

.section {
    grid-column: 2 / 5;
    display: flex;
    flex-direction: column;
}

/* Header styles************************ */

.header {
    
    text-align: center;
    align-items: center;
    border-bottom: double .2em blue
}

.hLine1 {
    margin: .4em 0 0 0;
    font-size: 2em;
}

.hLine2 {
    margin: 0 0 1em 0;
}

/* HOME PAGE   HOME PAGE   HOME PAGE   HOME PAGE   HOME PAGE   HOME PAGE  */
/* Features styles **************************** */

.features {
    
    grid-column: 2 / 5;
    }

#fTitle {
    display: flex;
    align-self: center;
    margin: 1em
}

.pix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#learnMore {
    align-self: center;
    margin: 1em
}

/* Quote Space Styles*************************** */

.quoteSpace {
    grid-column: 1 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, green, 55%, chartreuse)
}

#quote {
    margin: 2em 0 2em 0;
    border-left: double;
    border-right: double;
    border-radius: 5%;
    padding: 0 2em 0 2em;
    font-size: 2em;
}

/* Main section styles ********************************* */

.section.mainHome {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    row-gap: .5em;
    background-color: chocolate;
}

.post {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blogLink {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoLink {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* BLOG POST PAGE  BLOG POST PAGE  BLOG POST PAGE  BLOG POST PAGE  BLOG POST PAGE   */

.section.postHome {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    row-gap: .5em;
    background-color: chocolate;
}

.blogLink {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoLink {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* LEARN MORE  LEARN MORE  LEARN MORE  LEARN MORE  LEARN MORE  LEARN MORE   */

.learnMore {
    grid-column: 2 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: chocolate;
}


/* Footer Styles ***************************************/

.section.footer {
    grid-column: 1 / 6;
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#footHeader {
    border: .1rem solid black;
    grid-area: 1 / 2 / 2 / 4;
}

#footForm {
    border: .1rem solid black;
    border: .1rem solid black;
    grid-area: 2 / 2 / 5 / 3;
}

#footInfo {
    border: .1rem solid black;
    grid-area: 2 / 3 / 3 / 4;
}

#footLinks {
    border: .1rem solid black;
    grid-area: 3 / 3 / 5 / 4;
    display: flex;
    flex-direction: row;
}
